{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
    <h1>Register</h1>
    <h3 style="color: red;">{{ error }}</h3>
    <form action="/register" method = "POST">
        <p>Email <input type = "email" name = "email" required/></p>
        <p>Username <input type = "text" name = "username" required/></p>
        <p>Password <input type = "password" name = "password" required/></p>
        <input type = "submit" value = "Register" />
    </form>
    
    <p>Already Have an Account? <a href ="{{url_for('login')}}">Login</a></p>
{% endblock %}